<table class="table table-striped border">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Canción</th>
      <th scope="col">Artista</th>
      <th scope="col">Género</th>
      <th scope="col">Año</th>
    </tr>
  </thead>
  <tbody>
    @for (cancion of musica; track cancion.id) {
      <tr>
        <th scope="row">{{ cancion.id }}</th>
        <td>{{ cancion.cancion }}</td>
        <td>{{ cancion.artista }}</td>
        <td>
          <dsb-badge-atom
            [text]="cancion.genero"
            [type]="generoMap[cancion.genero] ?? 'secondary'">
          </dsb-badge-atom>
        </td>
        <td>{{ cancion.anio }}</td>
      </tr>
    }
  </tbody>
</table>
